body {
    background-color: lightcyan;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    overflow: hidden;
    background-color: white;
}

#menu>ul {
    list-style: none;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    font-size: 20px;
}

#titre_principal {
    flex: 1;
    width:20%;
}

#titre_principal h1 {
    font-family: Algerian;
}

#menu a {
    color: black;
    text-decoration: none;
}

#menu a:hover {
    color: darkgray;
}

#menu {
    width: 70%;
    margin-right: 10px;
    padding: 20px;
}

footer
{
    bottom: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 1px solid #000000;
    background-color: white;
    width: 100%;
}

footer>section {
    flex: 3;
}

footer>aside {
    flex: 1;
    max-height: 80px;
}

#sources ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 80px;
}

#contenu {
    margin-top: 110px;
    display: grid;
    overflow-y: scroll;
    height: 480px;
}

#contenu h2 {
    grid-row: 1;
}

#contenu h3 {
    grid-row: 2;
    grid-column: 2;
}

#formmodif{
    grid-row: 3/5;
    grid-column: 2;
}

#formitem{
    grid-row: 6/8;
    grid-column: 2;
}

#formvalider {
    grid-column: 1/3;
}

#contenu p {
    grid-column: 1;
}

ul {
    grid-row: 6/8;
}